@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

:root {
  --primary-color: #0E1414;
  --secondary-color: #CF1430;
}

/* ----- LAYOUT ----- */

* {
  box-sizing: border-box;
}

body {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: var(--primary-color);
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

/* ----- KEY FRAMES ----- */

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fade-in-top {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fade-in-bottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* ----- SECTION 1 ----- */

.hero {
  animation: fade-in 2s;
}

.hero-heading {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0.5px;
}

hr {
  background-color: #FFFFFF;
}

.hero-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.subheading {
  text-transform: uppercase;
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 28px;
}

.secondary-text {
  font-size: 18px;
  line-height: 30px;
}

.image-01 {
  animation: fade-in-left 1.2s forwards;
}

.image-02 {
  animation: fade-in-top 1.2s;
}

.image-03 {
  padding-top: 10px;
  animation: fade-in-bottom 1.2s forwards;
}

.image-01:hover, .image-02:hover .image-03:hover {
  
}

/* ----- SECTION 2 ----- */

.latest-news {
  margin-top: 180px;
  margin-bottom: 60px;
  font-weight: 300;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 42px;
  line-height: 57px;
  letter-spacing: 0.81px;
  animation: fade-in-right 1.5s forwards;
}

#news-items div {
  margin-bottom: 15px;
  animation: fade-in-bottom 2s forwards;
}

.read-more {
  color: #FFFFFF;
  line-height: 30px;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid var(--secondary-color);
}

.read-more:hover {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 110%;
}

.news-heading {
  font-size: 18px;
  line-height: 30px;
  margin-top: 27px;
}

.news-text {
  font-weight: 300;
  color: #C2C2C2;
}

.modal-text {
  padding-top: 15px;
}

.news-image {
  border-bottom: 4px solid var(--secondary-color);
}

.modal-content {
  background-color: var(--primary-color);
}

/* ----- MEDIA QUERIES ----- */

@media (max-width: 1200px) {
  .hero * {
    font-size: 90%;
  }
}

@media (max-width: 1080px) {
  .hero * {
    font-size: 80%;
  };
}

@media (max-width: 991px) {
  .hero * {
    font-size: 100%;
  }

  .hero-heading {
    margin-top: 20px;
  }

  .latest-news {
    margin-top: 100px;
  }
}

@media (max-width: 767px) {
  .image-01 {
    margin-bottom: 10px;
  }

  body {
    margin: 0 5%;
  }
}

@media (max-width: 399px) {
  body * {
    margin: 20px;
  }
}
